@charset "UTF-8";


:root {
        --cor1: #3ABC7F;
        --cor2: #468A6A;
        --cor03:#3E574B;
        --cor04:#3E574B;
        --cor05:#2D3330;
        --cor06:#23332C;
        --cor07:#F6BABC;
        --cor08:#C2A3A4;
        --cor09:#8F5B5D;
        --cor10:#5C282A;
        --cor11:#5C1618;
        --cor12:#243B66;
        --cor13:#0F0F17;
        --cor14:#F45140;
        --cor15:#FC7D54;
    

}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

@font-face {
    font-family: 'fonte-onepiece';
    src: url(fontes/one\ piece\ font.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'fonte-naruto';
    src: url(fontes/njnaruto.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'fonte-demon';
    src: url(fontes/DEMON_NI.TTF) format('opentype');
    font-weight: normal;
}





body {
    height: 100vh;
    margin: 0px;
    background-image: url(imagens/body.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0px;
    padding: 0px;
}

header, footer {
    width: 100%;
    margin: 0px;
    padding: 0px;
}


header {
    
    margin-top: 0px;
    padding: 0px;
    background-color: black;
    max-height: 100vh; 
    padding-top: 0px; 
   
    
}

.titulo-do-header {
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.titulo-do-header > h1 {
    font-size: 2em;
    font-family: 'fonte-onepiece', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
    white-space: nowrap;
    
    
}

.titulo-do-header > p {

    color: white;
    font-size: 85%;
    font-family: 'fonte-naruto', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
    padding: 0px 0px 10px 0px;
    white-space: nowrap;
    word-spacing: 2.1px;
   
}

nav {
    background-color: red;
    text-decoration: none;
    text-indent: 2px;
    margin-top: 0px;
    padding: 0px;
    
}


nav > a {
    margin-left: 16px; 
    max-height: 20px;
    text-decoration: none;
    color: white;
    font-style: normal;
    font-size: small;
    font-weight: bold;
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;

}

nav > a:hover {
    background-color: rgba(0, 0, 0, 0.551);
}

main > a {
    color: red;
    padding-top: 13px;
}

main {
    background-color: rgba(0, 0, 0, 0.810);
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    padding: 0px;
}

div.descricao-da-obra, div.logo {
    display: inline-block;
   
}

main > div.descricao-da-obra > h1 {
    font-size: medium;

}

.descricao-da-obra {
    max-width: 600px;
    min-height: 320px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200px;
    text-indent: 2px;
    text-align: justify;
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
}

.descricao-da-obra a {
    color: white;
}

.logo {
    max-width: 230px;
    max-height: 180px;
    margin-left: 60px;
    margin-right: 0px;
    padding: 0px;
    padding-bottom: 60px;
}

.lista-de-arcos {
    color: white;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.video-abertura {
    background-image: url(imagens/fundo-div-video..png);
    height: 270px;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px 0px 12px 0px;
    padding: 20px;
    position: relative;

}

.p-da-abertura {
    color: aliceblue;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
    min-width: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-indent: 5px;
}


.video-abertura > iframe {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 5%;
    width: 90%;
    height: 75%;
    align-items: center;
    margin: auto;

}


 

.titulos-com-fonte {
    
    font-size: 36px;
    font-family: 'fonte-demon', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}



/*--------- modificações dos personagens por classe dos objetos ------*/


p.autor {
    font-size: 3px;
}

div.audio {
    max-width: 315px;
    max-height: 76px;
    border-radius: 30px;
    margin-left: 9px;
    

}


.nome-do-personagem {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-indent: 10px;
}

section.personagem { /*todas as sections */
    background-color: rgba(0, 0, 0, 0.947);
    max-height: 405px;
    max-width: 1090px;
    min-width: 100px;
    line-height: auto;
    padding-left: 30px;  
    margin: auto;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    


}

div.frase, div.img-personagem {
    flex: 1;
    min-width: 50%;
}

div.img-personagem {
    float: left;
   
    
  
   

}

div.frase {
    position: relative;
    align-items: center; 
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    float: right;


}

div.frase > p {
    background-color:  rgba(0, 0, 0, 0.725);
    color: white;
    text-indent: 0.5px;
    text-align: center;
    font-weight: 400px; 
    word-spacing: 2px;
} 


article {
    color: white;
}

article.lista-de-arcos {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 17px;
}

article.lista-de-arcos > ul {
    padding-left: 28px;

}

ul > p {
    font-size: 14px;
    text-indent: 5px;
}


article.descricao-do-personagem { 
    color: whitesmoke;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: auto;
    text-indent: 10px;
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}





/*------------------ modificaçoes por id ------------------------*/

section#tanjiro {
    background-image: url(imagens/background-tanjiro.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;  
}

div#tanjiro-frase {
    font-size: 24px;
}

section#nezuko {
    background-image: url(imagens/background-nezuko.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    justify-content: space-between;
}



 div#nezuko-frase {
    white-space: nowrap;

    
}

 section#inosuke {
        max-height: 415px;
        background-image: url(imagens/background-inosuke.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-position: top center;
        justify-content: space-between;
 }

 

    div#inosuke-frase {
        max-width: 272px;
        font-size: 22px;
        margin-right: 0px;
        margin-left: 0px;
    }


    section#zenitsu {
        background-image: url(imagens/background-zenitsu.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center top;
        justify-content: space-between;
        padding-left: 8px;
    }

 

    div#zenitsu-img {
        padding-top: 2px;
        margin: auto;
    }

aside, aside > p {
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 16px;
    height: 30px;
    text-align: center;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 12px;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
    border-top: 10px solid red;
    font-weight: 600;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 2px;
    justify-content: space-between;

}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
    background-color: rgba(255, 0, 0, 0.619);
}

a.externo::after {
     content: '\1F517'; 
}



/*----------------- estilização dos áudios -----------------------------------*/


div#audio-tanjiro-01 {
    background-color: #3ABC7F;
    
}

div#audio-tanjiro-02 {
    background-color: cadetblue;
}

div#audio-inosuke-01 {
    background-color: #8F5B5D;
}

div#audio-inosuke-02 {
    background-color: #243b66;
}

div#audio-zenitsu-01 {
    background-color: #FC7D54;
}

div#audio-zenitsu-02 {
    background-color: #e6cb45;
}
