@charset "UTF-8";


:root {
        --cor1: #3ABC7F;
        --cor2: #468A6A;
        --cor03:#3E574B;
        --cor04:#3E574B;
        --cor05:#2D3330;
        --cor06:#23332C;
        --cor07:#F6BABC;
        --cor08:#C2A3A4;
        --cor09:#8F5B5D;
        --cor10:#5C282A;
        --cor11:#5C1618;
        --cor12:#243B66;
        --cor13:#0F0F17;
        --cor14:#F45140;
        --cor15:#FC7D54;

}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

@font-face {
    font-family: 'fonte-onepiece';
    src: url(fontes/one\ piece\ font.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'fonte-naruto';
    src: url(fontes/njnaruto.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'fonte-demon';
    src: url(fontes/DEMON_NI.TTF) format('opentype');
    font-weight: normal;
}





body {
    height: 100vh;
    background-color: gray;
    margin-top: 0px;
    
}


    



section > p {
    background-color: rgba(0, 0, 0, 0.645);
}



header {
    background-color: black;
    max-height: 400px;
    margin-top: 0px;
    /* padding-top: 0px; */
    padding: 20px 20px 20px 47px;
}

header > h1 {
    font-family: 'fonte-onepiece', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 67px;
    min-width: 20px;
    text-align: center;
    color: white;
    margin: 0px;
    margin-bottom: 0px;
}

header > p {
    color: white;
    font-family: 'fonte-naruto', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

nav {
    background-color: red;
    text-decoration: underline;
    text-indent: 2px;
    margin-top: 0px;
    
}


nav > a {
    margin-left: 20px;
    max-height: 20px;
    color: white;
    font-style: normal;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main > a {
    color: red;
    padding-top: 13px;
}

main {
    background-color: black;
    max-width: 1200px; 
    margin: auto;
    padding: 5px;
}

div.descricao-da-obra, div.logo {
    display: inline-block;
   
}

main > div.descricao-da-obra > h1 {
    font-size: medium;

}

.descricao-da-obra {
    max-width: 600px;
    min-height: 320px;
    margin-bottom: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200px;
    text-indent: 2px;
    text-align: justify;
    font-size: 12px;
    padding-left: 2px;
}

.logo {
    max-width: 230px;
    max-height: 180px;
    margin-left: 60px;
    margin-right: 0px;
    padding: 0px;
    padding-bottom: 60px;
}

.lista-de-arcos {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.video-abertura {
    background-image: url(imagens/fundo-div-video..png);
    background-attachment: fixed;
    background-size: cover;
    margin: 0px 0px 12px 0px;
    padding: 35px;
    padding-bottom:30%;

    position: relative;

}

.p-da-abertura {
    color: aliceblue;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
    min-width: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}


.video-abertura > iframe {
    position: absolute;
    max-width: 580px;
    max-height: 330px;
    top: 10%;
    bottom: 10%;
    left: 5%;
    width: 90%;
    height: 90%;

}
 

.titulos-com-fonte {
    
    font-size: 36px;
    font-family: 'fonte-demon', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}





/*--------- modificações dos personagens por classe dos objetos ------*/


p.autor {
    font-size: 3px;
}

div.audio {
    max-width: 315px;
    max-height: 76px;
    border-radius: 30px;
    

}


.nome-do-personagem {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-indent: 10px;
}

section.personagem { /*todas as sections */
    background-color: blue;
    box-shadow: inset 10% 10% rgba(0, 0, 0, 0.699);
    max-height: 405px;
    max-width: 1090px;
    line-height: auto;
    padding-left: 30px;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;


}

div.frase, div.img-personagem {
    flex: 1;
    min-width: 50%;
}

div.img-personagem {
    float: left;
}

div.frase {
    position: relative;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    float: right;


}

div.frase > p {
    background-color:  rgba(0, 0, 0, 0.382);
    color: white;
    text-indent: 0.5px;
    text-align: center;
    font-weight: 400px; 
    word-spacing: 2px;
} 


article {
    color: white;
}

article.lista-de-arcos {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


article.descricao-do-personagem { 
    color: whitesmoke;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 2px;
    font-size: 18px;
    text-justify: auto;
    text-decoration: none;
}





/*------------------ modificaçoes por id ------------------------*/

section#tanjiro {
    background-image: url(imagens/background-tanjiro.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    
    
    /* background-position: right top; */
    
    
}


div#tanjiro-img {
    /* margin-left: 60px;
    margin-right: 2px;
    padding: 0px; */



}

div#tanjiro-frase {
    font-size: 24px;
}

section#nezuko {
    background-image: url(imagens/background-nezuko.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    justify-content: space-between;
}


div#nezuko-img {
    /* margin-left: 60px;
    margin-right: 2px;
    padding: 0px; */
    

}


 div#nezuko-frase {
    font-size: 30px;
    /* margin-left: 50px; */
    white-space: nowrap;

    
}

 section#inosuke {
        max-height: 415px;
        background-image: url(imagens/background-inosuke.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-position: top center;
        justify-content: space-between;

 }

    div#inosuke-img {
        /* margin-left: 60px;
        margin-right: 20px; */
    }

    div#inosuke-frase {
        /* max-width: 400px;
        min-width: 183px; */
        max-width: 272px;
        font-size: 30px;
        margin-right: 0px;
        margin-left: 0px;
    }


    section#zenitsu {
        background-image: url(imagens/background-zenitsu.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center top;
        justify-content: space-between;
    }

    div#zenitsu-frase {
        /* max-width: 400px;
        min-width: 183px;
       
        margin-right: auto; */
    }

    div#zenitsu-img {
        padding-top: 2px;
        margin: auto;
    }



footer {
        color: white;
        text-align: center;
        height: 200px;
        background-color: black;
        padding: 5px;
        padding-top: 47px;
        border-top: 5px solid red;
        min-height: 200px;
}



/*----------------- estilização dos áudios -----------------------------------*/


div#audio-tanjiro-01 {
    /* background-image: linear-gradient(to left ); */
    background-color: #3ABC7F;
    
}

div#audio-tanjiro-02 {
    background-color: cadetblue
}

div#audio-inosuke-01 {
    background-color: #8F5B5D;
}

div#audio-inosuke-02 {
    background-color: #243B66;
}

div#audio-zenitsu-01 {
    background-color: #FC7D54;
}

div#audio-zenitsu-02 {
    background-color: #e6cb45;
}




    /*----------------------------------------------------------------------*/





    /* <p class="autor">Tanjiro Kamado</p> */


/* div#tanjiro-p {
        width: 280px;
        height: 170px;
        font-size: 30px;
        margin: auto;
        position: relative;
        align-items: center;
        color: white;
        text-align: center;
        background-color: rgba(17, 1, 1, 0.685);
        text-shadow: rgba(0, 0, 0, 0.416);
        margin: auto;
        padding-left: 10px;
        padding-bottom: 10px; */
        /* transform: translateX(22%) translateY(-68%); */
        


/* div#tanjiro-img {
    margin: auto;
    max-width: 353px;
    max-height: 396px;
    /* transform: translateY(-1%) translateX(105%); */

 






















/* article {
    color: white;
    padding-inline: 10px;
} */
